@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin pxToRem($size) {
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}